:root {
    --dark-background: #1f2937;
    --main-text-size: 48px;
    --main-text-weight: bolder;
    --main-text-color: #f9faf8;

    --secondary-text-size: 18px;
    --secondary-text-color: #bfbfc1;
    --logo-text-size: 24px;
    --logo-text-color: #F9FAF8;

    --buton-color: #3882F6;
    --information-text-size: 36px;
    --information-text-weight: bolder;
    --information-text-color: #1f2937;
    --quote-background-color: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-weight: lighter;
    --quote-text-style: italic;
    --quote-text-color: #1f2937;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.secondary {
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
}

.hero {
    font-size: var(--main-text-size);
    color: var(--main-text-color);
    font-weight: var(--main-text-weight);
}

.top {
    background-color: var(--dark-background);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-size: var(--logo-text-size);
    color: var(--logo-text-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.top-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 60px;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 5px;
}

.image {
    max-width: 400px;
    max-height: 250px;
}

.mid-top {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 800px;
}

.mid-top,
.top,
.mid-bot,
.footer-bot {
    padding-left: 200px;
    padding-right: 200px;
}

.information {
    font-size: var(--information-text-size);
    color: var(--information-text-color);
    font-weight: var(--information-text-weight);
    padding-bottom: 30px;
}

.cards {
    display: flex;
    color: var(--secondary-text-color);
    gap: 30px;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.mid-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quote-background-color);
}

.quote-with-author {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    flex: 1;
    padding-bottom: 50px;
    padding-top: 50px;
}

.quote {
    font-size: var(--quote-text-size);
    font-style: var(--quote-text-style);
    font-weight: var(--quote-text-weight);
    color: var(--quote-text-color);
}

.author {
    align-self: flex-end;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 250px;
    padding-right: 250px;
}

.sign-up-container {
    display: flex;
    background-color: var(--buton-color);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.footer-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
    color: var(--logo-text-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.button {
    min-height: 30px;
    max-width: 150px;
    border-radius: 10px;
    display: flex;
    background-color: var(--buton-color);
    color: var(--main-text-color);
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    color: var(--main-text-color);
    border: var(--main-text-color) 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}